body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    /* Define o header como um container flex */
    justify-content: space-between;
    /* Espaça o conteúdo ao longo do eixo principal */
    align-items: center;
    /* Alinha o conteúdo ao longo do eixo cruzado */
    background-color: #333;
    color: #fff;
    padding: 20px 0 20px 10px;
}

header h1 {
    text-align: center;
    margin: 0px;
}

.nav-menu {
    display: flex;
    /* Define o ul como um container flex */
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu li {
    margin: 0 15px;

}

.bem-vindo {
    text-align: center;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

.coramarelasecao {
    background-color: #ffcd01;
    padding: 20px;
}

.confira-colecao {
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
}

.product-gallery {
    font-size: 0.875rem;
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.sapatos {
    background-color: whitesmoke;
    border: solid 1px rgba(104, 101, 101, 0.382);
    box-shadow: 1px 1px 15px #0000001e;
    padding: 15px 15px 0 15px;

}

.titulo {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100vw;

}

.sapatos h4 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}